
<section class="owl-carousel active-product-area section_gap">
  <div class="single-product-slider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Your Products</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <%= link_to shop_path(item) do %>
              <%= image_tag "plugins/img/product/p4.jpg", class: "img-fluid", alt:"" %>
            <div class="product-details">
              <h6><%= item.title %></h6>
              <div class="price">
                <h6><%= number_to_currency(item.price*100/100) %></h6>
                <h6 class="l-through"><%= number_to_currency( (item.price*100/100)+ 120 ) %></h6>
              </div>
              <div class="prd-bottom">
                <a href="#" class="social-info d-none">
                  <span class="ti-bag"></span>
                  <p class="hover-text">add to bag</p>
                </a>
                <a href="#" class="social-info">
                  <span class="lnr lnr-heart"></span>
                  <p class="hover-text">Wishlist</p>
                </a>
                <a href="#" class="social-info">
                  <span class="lnr lnr-sync"></span>
                  <p class="hover-text">compare</p>
                </a>
                <a href="#" class="social-info">
                  <span class="lnr lnr-move"></span>
                  <p class="hover-text">view more</p>
                </a>
              </div>
              <% if current_user %>
              <div>
                <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
                 |
                <%= link_to 'Edit', edit_item_path(item) %>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

