
<section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>Shopping Cart</h1>
          <nav class="d-flex align-items-center">
            <a href="index-2.html">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="category.html">Cart</a>
          </nav>
        </div>
      </div>
    </div>
</section>
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col-3">Product</th>
              <th scope="col-3">Price</th>
              <th scope="col-3">Quantity</th>
              <th scope="col-3">Total</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @order_items&.each do |i| %>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <% if i.item.images.attached? %>
                        <%= image_tag(i.item.images.first) %>
                      <% else %>
                        <%= image_tag "plugins/img/cart.jpg" %>
                      <% end %>
                    </div>
                    <div class="media-body">
                      <p><%= i.item.title %></p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5><%= i.item.price %></h5>
                </td>
                <td class="">
                  <div class="product_count">
                    <input type="text" name="qty" id="sst" min="1" maxlength="12" value="<%= i.quantity %>" title="Quantity:"
                      class="input-text qty">
                    <%= button_to order_item_path(i, order_item: {id: i.id, item_id: i.item_id, quantity: i.quantity.to_i+1 }), class: "increase items-count", method: :patch, remote: true do %>
                      <i class="lnr lnr-chevron-up"></i>
                    <% end %>
                    <%= button_to  order_item_path(i, order_item: {id: i.id, item_id: i.item_id, quantity: i.quantity.to_i-1 }), class: "reduced items-count", method: :patch, remote: true do %>
                      <i class="lnr lnr-chevron-down"></i>
                    <% end %>
                  </div>
                </td>
                <td>
                  <h5><%= i.total %></h5>
                </td>
                <td> <%= link_to "X", order_item_path(i),class: "text-center d-flex justify-content-center text-danger", method: :delete, remote: true %> </td>
              </tr>
            <% end %>
            <tr class="bottom_button">
              <td>
                <%= button_to "clear Cart", clearCart_path, method: :delete, remote: true, class: "gray_btn", data:{ confirm: "Really want to clear Cart?" } %>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="cupon_text d-flex align-items-center">
                  <input type="text" placeholder="Coupon Code">
                  <a class="primary-btn" href="#">Apply</a>
                  <a class="gray_btn" href="#">Close Coupon</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5><%= current_order.subtotal %></h5>
              </td>
            </tr>
            <tr class="shipping_area">
              <td>
              </td>
              <td>
              </td>
              <td>
                <h5>Shipping</h5>
              </td>
              <td>
                <div class="shipping_box">
                  <ul class="list">
                    <li><a href="#">Flat Rate: $5.00</a></li>
                    <li><a href="#">Free Shipping</a></li>
                    <li><a href="#">Flat Rate: $10.00</a></li>
                    <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                  </ul>
                  <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                  <select class="shipping_select">
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="4">Pakistan</option>
                  </select>
                  <select class="shipping_select">
                    <option value="1">Select a State</option>
                    <option value="2">Select a State</option>
                    <option value="4">Select a State</option>
                  </select>
                  <input type="text" placeholder="Postcode/Zipcode">
                  <a class="gray_btn" href="#">Update Details</a>
                </div>
              </td>
            </tr>
            <tr class="out_button_area">
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="checkout_btn_inner d-flex align-items-center">
                  <%= link_to "Continue Shopping", root_path, class: "gray_btn px-4" %>
                  <%= link_to "Proceed to checkout!", checkouts_create_path, method: :post, remote: true, class: "primary-btn" %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
