<header class="header_area sticky-header">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light main_box">
        <div class="container">

          <a class="navbar-brand logo_h" href="index-2.html"><%= image_tag "plugins/img/xlogo.png.pagespeed.ic.h40IXujIct.png"
              %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item active">
                <%= link_to "Home", root_path, class:"nav-link"%>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
                  <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                  <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                </ul>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
                  <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>

              <% if current_user %>
                <li class="nav-item">
                    <%= link_to "Add Product", new_item_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to "My Products", items_path ,class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= image_tag current_user.avatar_thumbnail, class: "rounded-circle", height: "50px", width: "50px" %>
                    <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
                </li>

              <% else %>

              <li class="nav-item">
                 <%= link_to "Login", new_user_session_path, class: "nav-link"%>
              </li>

              <li class="nav-item">
                 <%= link_to "Create Account", new_user_registration_path, class: "nav-link"%>
              </li>

              <% end %>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <%= link_to cards_path do %>
                  <span class="ti-bag"></span>
                <% end %>
              </li>
              <li class="nav-item">
                <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="search_input" id="search_input_box">
      <div class="container">
        <form class="d-flex justify-content-between">
          <input type="text" class="form-control" id="search_input" placeholder="Search Here">
          <button type="submit" class="btn"></button>
          <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
        </form>
      </div>
    </div>
  </header>
