<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.1/owl.carousel.min.css" integrity="sha512-xbYWNZUF5abfd+COvIaCdxraK5F+CzMtGU8a1iYiLOujWGo5yGwy9YhXfVWmKh/b0Fw6BxtfK3IY0AAXJDwMEw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://js.stripe.com/v3"></script>

  </head>

  <body>
    <%= yield %>
  </body>



  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha512-n6dYFOG599s4/mGlA6E+YLgtg9uPTOMDUb0IprSMDYVLr0ctiRryPEQ8gpM4DCMlx7M2G3CK+ZcaoOoJolzdCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.0.2/jquery.ajaxchimp.min.js" integrity="sha512-BlG0AjCJccbLSvCMNO4kV2aHpf3WFtZsbTeM3S//xbnArsdVKWKpTZs5e701bDLbH0WUV0Ycjv8+SyPmLR10Xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.0/js/jquery.nice-select.min.js" integrity="sha512-Q27qmhQTPA7DBhZVnJnSovHMSbhSBaUMsY3nzQeCHaxbAE7AM4HD7+tdWeA6JtgZBXlHd6jYVa3QKlPDf33MsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.0.0/nouislider.min.js" integrity="sha512-6f87+OtwjlPp6tI8Fz0vh7gsRrUTzxxq4Yz7FstYTtNs+LDuHJg8j4bZRliwTMqcEmDw6SpBYrVZaODofiyLag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0/jquery.sticky.min.js" integrity="sha512-SDPkeqwbJdaqhKBkBPxq0RrS0DAvHtIR6hXwpuINziXwWAfLPt57tHAjvM878hSBAPZXeoig5GIW+UAUYUHQvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.1/owl.carousel.min.js" integrity="sha512-Mbgs3jiG1Gj9Z0yQquXz1pe/ylRaSa4kYrOHj1j/86yCQEyqrO33/+WGGFHAjAE4asmrq3D4kUzYd37LUQrBJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>
