<!DOCTYPE html>
<html>
  <head>
    <title>Zeeshan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# <link rel="stylesheet" href="assets/stylesheets/plugins/custom.css">
    <link rel="stylesheet" href="assets/stylesheets/plugins/styles.css"> %>
    <script src="https://js.stripe.com/v3"></script>

  </head>

  <body>
    <%= yield %>
  </body>



  <%# <script src="assets/javascripts/plugins/vendor/jquery-2.2.4.min.js"></script> %>
  <%# <script src="assets/javascripts/plugins/custom2.js"></script> %>
  <%# <script>
    eval(mod_pagespeed_5RCo9bthN4);
  </script> %>
  <%# <script>
    eval(mod_pagespeed_oluhTYMtIg);
  </script> %>
  <%# <script src="assets/javascripts/plugins/custom.js"></script> %>
  <%# <script>
    eval(mod_pagespeed_qOXdI4sndT);
  </script> %>

  <%# <script src="assets/javascripts/plugins/gmaps.min.js"></script>
  <script src="assets/javascripts/plugins/main.js"></script> %>
</html>
